STM32CubeMX/
cubemx.ignore/
libopencm3/
libusbhost/
stutils/
tinyusb/
usb_notes/
release/
objs/
objs.*/
undoc/
*.sw?
.cscope*
cscope.out
.genromrc
bec_keymap*
apciaconf
apciflash
apcirom
apciscan
bec
becky
pci
hostbec
hostbec.exe
